
#sidebar{
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--mainDark);
  position: absolute;
  width:17%;
  height:110%;

    overflow: auto;
  top: 50px;
  right: 0px;


  padding: 1rem 1rem;
  
  align-items: center;
  
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(2px);
  z-index: 2;

}
#sidebar:hover{
  transform: translateX(0px);
}
p{
  color:var(--lightDark);
}

#demo{
  border-radius: 0.5rem;
  background-color: var(--mediumDark);
  height:30vh;
  overflow:auto;
  padding:5px;
}
#fr{
  border-radius: 0.5rem;
  background-color: var(--mediumDark);
  height:15vh;
  overflow:auto;
  padding:5px;
}
#users{
  border-radius: 0.5rem;
  background-color: var(--mediumDark);
  height:15vh;
  overflow:auto;
  padding:5px;
}
.us1{
  position:absolute;
  left:10px;
  width:80%;
}
.us2{
   position:absolute;
  right:10px;
  width:20%;
}