.bg-image{
  background-image: url("https://storage0.dms.mpinteractiv.ro/media/401/341/5531/14692524/1/corneliu-vadim-tudor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
